
@{
    ViewBag.Title = "catalogo";
    Layout = "~/Views/Shared/_Layout_catalogo.cshtml";
}
<main>
    <br />

    <section style="margin: 0px;margin-top: 0px;padding-top: 20px; padding-left:14em;">
        <div class="content">
            <div class="gallery">
                <a target="_blank" href="~/Content/img/productos/c1.jpeg">
                    <img src="~/Content/img/productos/c1.jpeg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">Juego de Cuchillos. <p>$10.0</p>  <button type="submit" class="btn btn-primary btn-lg" style="height:40px ; width: 120px; border-radius: 16px;">Comprar</button></div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Content/img/productos/c2.jpg">
                    <img src="~/Content/img/productos/c2.jpg" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">Juego de Sartenes. <p>$20.0</p> <button type="submit" class="btn btn-primary btn-lg" style="height:40px ; width: 120px; border-radius: 16px;">Comprar</button></div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Content/img/productos/c3.jpg">
                    <img src="~/Content/img/productos/c3.jpg" alt="Northern Lights" width="600" height="400">
                </a>
                <div class="desc">Olla Gris. <p>$15.0</p>  <button type="submit" class="btn btn-primary btn-lg" style="height:40px ; width: 120px; border-radius: 16px;">Comprar</button></div>
            </div>
        </div>
    </section>
</main>

