
@{
    ViewBag.Title = "detalleProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<section style="margin: 0px;margin-top: 0px;padding-top: 20px; padding-left:14em;">
    <div class="content">
        <div class="gallery">
            <br />
            <br />
            <br />
            <br />
            <div class="col-sm-6">
                <a target="_blank" href="~/Content/img/productos/c1.jpeg">
                    <img src="~/Content/img/productos/c1.jpeg" alt="Cinque Terre" width="250" height="400">
                </a>
            </div>
            <div class="col-sm-6">
                <h1><strong>Juego de cuchillos</strong></h1>
                <p>
                    <li>Cuchillos de una sola pieza ✔ </li>
                </p>
                <br />
                <h2>Precio: $10.0</h2>
            </div>
            <br />
            <br />

            <div class="text-center"><button type="submit" class="btn btn-primary btn-lg" style="height:40px ; width: 220px; border-radius: 16px; " onclick="location.href = '/dirEntregas/Create';">Comprar Ahora</button></div>
        </div>
    </div>

</section>