@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cincopa_f7c12d">...</div>
<script type="text/javascript">
var cpo = []; cpo["_object"] ="cincopa_f7c12d"; cpo["_fid"] = "AQBA33OmmYbj";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "https://rtcdn.cincopa.com/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script>

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3" style="text-align:center;">
            <a href="@Url.Action("prodCategoria","catalogo", new { idCat = 1})">
                <br>
                <img class="rounded-circle" src="sourse/img/img2.png" style="height:auto;width:170px" />
                <h3 class="text-primary" style="color:white">Servicio 2</h3>
                <br>
                <br>
            </a>
        </div>
        <div class="col-6 col-sm-3" style="text-align:center;">
            <a href="#">
                <br>
                <img class="rounded-circle" src="sourse/img/img2.png" style="height:auto;width:170px" />
                <h3 class="text-primary" style="color:white">Servicio 2</h3>
                <br>
                <br>
            </a>
        </div>
        <div class="col-6 col-sm-3" style="text-align:center;">
            <a href="#">
                <br>
                <img class="rounded-circle" src="sourse/img/img2.png" style="height:auto;width:170px" />
                <h3 class="text-primary" style="color:white">Servicio 2</h3>
                <br>
                <br>
            </a>
        </div>
        <div class="col-6 col-sm-3" style="text-align:center;">
            <a href="#">
                <br>
                <img class="rounded-circle" src="sourse/img/img2.png" style="height:auto;width:170px" />
                <h3 class="text-primary" style="color:white">Servicio 2</h3>
                <br>
                <br>
            </a>
        </div>
    </div>
</div>

<a href="@Url.Action("prodCategoria","catalogo", new { idCat = 1})">Categoría</a>
