
@{
    ViewBag.Title = "Invalida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Su tarjeta no es válida, favor de registrarse con una tarjeta válida</h2>
@using (Html.BeginForm("BorraUser", "clientes", FormMethod.Get))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="Continuar" class="btn btn-default" />
        </div>
    </div>
}
