
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}
@{ 
    DateTime dia = DateTime.Now;
    var hora = dia.Hour;
    string mensaje = "";
    if(hora < 12)
    {
        mensaje = "Buenos días: ";
    }
    if (hora >= 12 && hora < 19)
    {
        mensaje = "Buenas tardes: ";
    }
    if (hora >= 19)
    {
        mensaje = "Buenas noches: ";
    }
    string name = @Session["usr"].ToString();
}
<h2 align="center">@mensaje @name</h2>

<div align="center">
    <img src="~/Content/img11.png" alt="Alternate Text"/>
</div>

